.stversions
__pycache__
*.db
*.db-journal
._*
.DS_Store
*.tmp
*.swp
.local/
.vscode/
.cache/
.bash_history

secrets.yaml

build/
custom_components/

/config/www/community/*
/config/camera
/config/image
/config/themes

log/
*.log*
*.fault
log.txt

deps/
tts/

aircast.xml
airsonos.xml
config/solcast.sync-conflict*
.ssh
